# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm" # See documentation for possible values
    open-pull-requests-limit: 10
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    groups:
      commitlint:
        patterns:
          - "@commitlint/*"
      vite:
        patterns:
          - "@vitest/*"
      buf:
        patterns:
          - "@bufbuild/*"
      connect:
        patterns:
          - "@connectrpc/*"
      nestjs:
        patterns:
          - "@nestjs/*"
